@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  text-align: right;
  direction: rtl;
}
.custom-cursor {
  pointer-events: none;
  mix-blend-mode: difference;
  filter: blur(1px) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 9998;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e5e4 !important;
}
.cursor-text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 0.03rem;
  display: none;
  z-index: 9999;
}
.hide-cursor {
  display: none;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
}
a {
  cursor: none;
}
* {
  text-align: right;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
body {
  direction: rtl;
  cursor: none;
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  z-index: 999;
}

* {
  box-sizing: border-box;
}

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

html,
body {
  overflow-x: hidden;
}
.quotes-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* sticky scorll */
.sticky-scroll section {
  /*   position: sticky; */
  top: 0;
  width: 100%;
  min-height: 100vh;
  border: 2px solid green;
  font-size: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
}

.sticky-scroll .side-text {
  font-size: 1rem;
  writing-mode: tb;
  position: absolute;
}

.sticky-scroll .left {
  left: 10vw;
}
.sticky-scroll .right {
  right: 10vw;
}

.sticky-scroll nav {
  width: 100%;
  height: calc(30px + (2vw * 2));
  background-color: grey;
  position: fixed;
  z-index: 1;
}

.logo {
  z-index: 2;
  position: relative;
  font-size: 30px;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
}
.text-p {
  -webkit-background-clip: text !important;
  background-clip: text !important;
  background: linear-gradient(to right, rgb(37, 37, 37) 50%, #d6d3d1 50%);

  color: transparent;
  padding: 50px 54px;
  white-space: pre-wrap;

  user-select: none;
  background-position-x: 0%;
  background-size: 200% 100%;
}

.parallax-img {
  clip-path: circle(500px at center);
}

/* Header Image */

.header_img_wrapper {
  perspective: 1000px;
  perspective-origin: 50%;
}

.header_img_wrapper-inner {
  width: 100%;
  max-width: 25rem;
  position: relative;
  overflow: hidden;
  border-radius: 20rem;
  aspect-ratio: 1/1.4;
  min-height: 32.5rem;
  margin: 0 auto 3rem;
  will-change: transform;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  mask-image: -webkit-radial-gradient(#fff, #000);
  translate: none;
  rotate: none;
  scale: none;
  transform: translate3d(0px, 19.322px, 0px);
}

/* End of Header Image */
/* Navbar */
.navigation {
  background-color: #1a1b1c;
  position: fixed;
  top: 1rem;
  left: 50%;
  border-radius: 1.5rem;
  height: 3.4rem;
  padding: 0.4rem 0;
  transform: translateX(-50%) translateY(-3rem);
  z-index: 998;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(-50%, 0%);
}
.nav_link_list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0 1.2rem;
}
.nav_link_list_item {
  translate: none;
  rotate: none;
  scale: none;
  padding: 0 2.6%;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.nav_link_list_item_mobile {
  translate: none;
  rotate: none;
  scale: none;
  padding: 0 2.6%;
  opacity: 0;
  transform: translate(0px, 70px) skew(0deg, 3deg);
}

/* End of Navbar */
.btn-more-area {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  display: inline-block;
  padding: 2.1rem 0;
}
.btn-more {
  align-items: center;
  border: 1px solid #b9b9bf;
  border-radius: 47px;
  display: inline-flex;

  pointer-events: bounding-box;
  position: relative;
}
.btn-more::before {
  bottom: -40px;
  content: "";
  display: block;
  left: -40px;
  position: absolute;
  right: -40px;
  top: -40px;
}
.btn-more-title {
  display: block;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  top: -1px;
  z-index: 2;
}
.btn-more-txt {
  /* color: rgb(0,0,0); */
  /* transform: translate(0%, 130%) skew(0deg, -3deg); */
  /* color: rgb(255, 255, 255); */
  transform: translate(0px, 0px);
  translate: none;
  rotate: none;
  scale: none;
  transform-origin: 0% 0%;
}
.btn-more-txt::after {
  content: attr(data-text);
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 150%;
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg);
}
.btn-more-ripple {
  border-radius: inherit;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.btn-more-ripple-inner {
  translate: none;
  rotate: none;
  scale: none;
  /* border-radius: 0%;
  transform: translate(0%, 0%); */
  border-radius: 50%;
  transform: translate(0%, 100%);
  background-color: rgb(255, 255, 255);
  opacity: 1;
  visibility: inherit;
  background: #fff;
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
/* Collections Button More  */
/* footer */
.footer_sec {
  height: 200vh;
  margin-top: -105vh;
  /* padding: 100vh 0 1.64rem; */

  bottom: 0;
  max-width: 100%;
  width: 100%;
  z-index: 1;
  margin: auto;
}
.footer_trigger {
  opacity: 1;
  visibility: inherit;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.footer {
  opacity: 0;
  visibility: hidden;
  /* background-image: linear-gradient(180deg, rgb(82 82 82), rgb(38 38 38)); */
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(180deg, #5a81a2, #1f3d61);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}
