@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  text-align: right;
  direction: rtl;
}
.custom-cursor {
  pointer-events: none;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 9999;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.cursor-text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 0.03rem;
  display: none;
}
.hide-cursor {
  display: none;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
a {
  cursor: none;
}
* {
  text-align: right;
}
body {
  direction: rtl;
  /* max-width: 100vh;
  
  overflow-x: hidden; */
  cursor: none;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  z-index: 999;
}